@{
    ViewData["Title"] = "Home Page";
}

<p>This page provides an overview on how to use this application.</p>
<p>First, create a tutor through the Tutors screen.</p>
<p>Next add data into each of the code tables found in the Admin screen.</p>
<p>Finally, add a student under the Students screen. Once a student has been added you can select the student to view their lessons and letters.</p>
<p>Found in this area are the create lesson, and create letter buttons. Use these to create a lesson, then create a letter and select as many unpaid lessons as desired.</p>
<p>You can use the Lesson's page to view what letters the lesson has been attached to.</p>
<p>You can also then use the Letter's page to see Lessons attached to a particular letter</p>